.criminalsContainer{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.criminal__card{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-top:  2px;
  flex-basis: 32%;
}

.criminalName{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: black;
}