.noteFormContainer{
  border: 1px solid darkviolet;
  border-radius: 10px;
  
}
.addANote{
 display: flex;
flex-wrap: wrap;
justify-content: space-evenly;


}
.containerOfNotes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.note__card{
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
}
.hideButton{
  display: none;
}
.NoteFormTitle{
  text-align: center;
  font-size: large;
  font-weight: bolder;
  color: whitesmoke;
  background-color: gray;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-bottom: 5px;
}